.fa {
padding: 10px;
font-size: 30px;
width: 20px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}
.fa:hover {
opacity: 0.7;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #dd4b39;
color: white;
}
.fa-linkedin {
background: #007bb5;
color: white;
}
.fa-instagram {
background: rgb(221, 42, 123);
color: white;
}

.main-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter; 
}

.main-nav li {
    padding: 0 1%;
    display: inline;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-size: cover;
}
.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

a {
    text-decoration: none;
}
footer {
display: inline-block;
position: fixed;
height: 8%;
width: 100%;
bottom: 0;
left: 0;
background: rgba(255, 255, 255, 0.75);
text-align: center;
font-size: 14px;
font-family: "Ubuntu";
}
body {
    background:  lineargradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-image: url("../assets/bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
#container {
    position: relative;
    width: 35%;
    height: auto;
    left: 32.5%;
    top: 22%;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
    opacity: 0.7;
}
input {
    padding: 10px;
    font-size: 20px;
    margin: 10px 10px;
    width: 80%;
    outline: 0;
    border: 0px transparent;
    border-radius: 10px;
    font-family: "Garamond";
}
p {
    font-family: "Garamond";
}
input[type="submit"] {
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    margin: 22px 10px 10px 10px;
    width: 80%;
    outline: 0;
    border: 0px transparent;
    border-radius: 10px;
    font-family: "Garamond"
}
input[type="submit"]:hover {
    opacity: 0.8;
}
h2 {
    font-family: Garamond;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 200%;
}